name: flutter_super_log_manager_example
description: "Demonstrates how to use the flutter_super_log_manager plugin."
publish_to: "none"

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  flutter_super_log_manager:
    path: ../

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
